Project/VS/EMB-PowerBoard-CAN/.vs/EMB-PowerBoard-CAN/v15/Browse.VC.opendb

Project/VS/F103BootRoutine/.vs/
Project/VS/F103BootRoutine/F103BootRoutine/VisualGDB/Debug/
Project/VS/F103BootRoutine/VisualGDB/Debug/
OBJ/
